<a href="https://colab.research.google.com/github/Mohammadi-Nilofer/Python/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Exploring print function
print('Hello World')

Hello World

In [ ]:
x=2
y=5
print('x+y =',x+y)

x+y = 7

In [ ]:
x+y

7

In [ ]:
#Exploring Print function
age=int(input('Enter your age:'))
print('Your age is:',age)

Enter your age:30
Your age is: 30

In [ ]:
X=int(input('Enter first number:'))
Y=int(input('Enter second number:'))
print('X+Y =',X+Y)

Enter first number:45
Enter second number:20
X+Y = 65

#Exploring data types

In [ ]:
X=6
type(X)

int

In [ ]:
Y='Data Scientist'
type(Y)

str

In [ ]:
z=56.5
type(z)

float

In [ ]:
#Converting data types
int(7.0+8)

15

In [ ]:
p=str(int(7.0+8))
print(p)
type(p)

15

str

In [ ]:
#Concatenation of strings

str1='Data'
str2='Scientist'
print(str1+' '+str2)

Data Scientist

In [ ]:
Str='ArtificialIntelligence'

In [ ]:
#Slicing the string

Str[2]   # 3rd letter

't'

In [ ]:
Str[-1]    #last letter

'e'

In [ ]:
Str[5]  #6th letter

'i'

#List Operations

In [ ]:
#Creating a list
list1=['python','C++','C','Java','HTML']
list1

['python', 'C++', 'C', 'Java', 'HTML']

In [ ]:
#Indexing
list1[1]

'C++'

In [ ]:
#Negative Indexing
list1[-2]

'Java'

In [ ]:
#Slicing of list
list1[1:4]

['C++', 'C', 'Java']

In [ ]:
list1[:]

['python', 'C++', 'C', 'Java', 'HTML']

In [ ]:
list1[1:]

['C++', 'C', 'Java', 'HTML']

In [ ]:
#Print elements from reverse order
list1[::-1]

['HTML', 'Java', 'C', 'C++', 'python']

In [ ]:
#Changing item of list

list1[1]='R'
list1

['python', 'R', 'C', 'Java', 'HTML']

In [ ]:
#List methods

#append

list2=['Statistics','ML']

#Add element to list
list1.append(list2)
list1

['python', 'R', 'C', 'Java', 'HTML', ['Statistics', 'ML']]

**list with in a list is nested list**

In [ ]:
#insert
print(list1)
list1.insert(2,'C++')
list1

['python', 'R', 'C', 'Java', 'HTML', ['Statistics', 'ML']]

['python', 'R', 'C++', 'C', 'Java', 'HTML', ['Statistics', 'ML']]

In [ ]:
#Creating lists
list1=['python','C++','C','Java','HTML']
list2=['Statistics','ML']

#list.extend, here element ois added in the last

list1.extend(list2)
list1

['python', 'C++', 'C', 'Java', 'HTML', 'Statistics', 'ML']

In [ ]:
list1.index('ML')

6

In [ ]:
#deleting list elements
list1

['python', 'C++', 'C', 'Java', 'HTML', 'Statistics', 'ML']

In [ ]:
del list1[5]
list1

['python', 'C++', 'C', 'Java', 'HTML', 'ML']

In [ ]:
#remove item
list1.remove('ML')
list1

['python', 'C++', 'Java', 'HTML']

In [ ]:
#pop item
list3=['AI','ML','DS','genAI','DL']
list3.pop(1)
list3

['AI', 'DS', 'genAI', 'DL']

In [ ]:
list3.pop()  # with no argument it will give last element

'DL'

In [ ]:
list3

['AI', 'DS', 'genAI']

In [ ]:
#reverse
list3.reverse()
list3

['genAI', 'DS', 'AI']

In [ ]:
#Iterate over list using loop
my_list = [1, 2, 3, 4, 5]

for item in my_list:
  print(item)

1
2
3
4
5

# Tuple Operations

In [1]:
# We create tuples inside paranthesis (), not []

# We can enter a list in a tuple

# we can have tuples with same data types or mixed data types

my_tuple= (13,2.289,[45,56,12,23],"Hello World")
my_tuple

(13, 2.289, [45, 56, 12, 23], 'Hello World')

In [2]:
#Accessing tuple elements
my_tuple[2]

[45, 56, 12, 23]

In [3]:
#Negative indexing
my_tuple[-1]

'Hello World'

In [4]:
#tuples are immutable, however, we can chenge the elements of nested mutable items
my_tuple[2][1]=100
my_tuple

(13, 2.289, [45, 100, 12, 23], 'Hello World')

In [5]:
#Tuple Methods

#Count()- returns the number of times specific value occurs in a tuple

tuple=(22,23,22,27,25,45,12,19,22,8,)
tuple.count(22)

3

In [7]:
#Indexing
tuple.index(12)

6

In [8]:
#Sorted - It sorts the tuple and returns a list with elements in a sorted manner
tuple=(22,23,22,27,25,45,12,19,22,8,)
sorted(tuple)

[8, 12, 19, 22, 22, 22, 23, 25, 27, 45]

In [9]:
tuple_S=('mango','Banana','Orange','Apple','grapes')  #String tuple returns list sorted in alphabetical order
sorted(tuple_S)

['Apple', 'Banana', 'Orange', 'grapes', 'mango']

# Dictionary Operations

In [10]:
# Creating Dictionary
Balance={'Rohit':56489,'Akash':98754,'Sid':858654,'Sameer':986542}
Balance

{'Rohit': 56489, 'Akash': 98754, 'Sid': 858654, 'Sameer': 986542}

In [11]:
#accessing items
Balance['Rohit']

56489

In [12]:
#We can use .get() method
Balance.get('Sid')

858654

In [13]:
#Changing values
Balance['Rohit']=98765
Balance

{'Rohit': 98765, 'Akash': 98754, 'Sid': 858654, 'Sameer': 986542}

In [14]:
#To get the length of the dictionary
len(Balance)

4

In [15]:
#Adding items
Balance['poja']=675146

In [16]:
Balance

{'Rohit': 98765,
 'Akash': 98754,
 'Sid': 858654,
 'Sameer': 986542,
 'poja': 675146}

In [17]:
#Dictionary methods

#pop() method -> remove key from Dictionary
Balance.pop('Rohit')

98765

In [18]:
Balance

{'Akash': 98754, 'Sid': 858654, 'Sameer': 986542, 'poja': 675146}

In [19]:
#pop item with out argument pops out last item
Balance.popitem()

('poja', 675146)

In [20]:
Balance

{'Akash': 98754, 'Sid': 858654, 'Sameer': 986542}

In [21]:
#delete item
del Balance['Akash']

In [22]:
Balance

{'Sid': 858654, 'Sameer': 986542}

In [23]:
#clear -> empties the library
Balance.clear()
Balance

{}

In [24]:
#Sort dictionary
#creating dictionary
Fruits={'Kiwi':54,'Strawberry':25,'Banana':20,'Grapes':46}
sorted(Fruits)

['Banana', 'Grapes', 'Kiwi', 'Strawberry']

In [25]:
#update method
Fruits.update({'Apple':35})
Fruits

{'Kiwi': 54, 'Strawberry': 25, 'Banana': 20, 'Grapes': 46, 'Apple': 35}

# Set Operations

In [26]:
# Creating two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

print("Set 1:", set1)
print("Set 2:", set2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}

In [27]:
# Union of sets (all elements from both sets)
union_set = set1 | set2  # or set1.union(set2)

print("Union:", union_set)

Union: {1, 2, 3, 4, 5, 6, 7}

In [28]:
# Intersection of sets (common elements)
intersection_set = set1 & set2  # or set1.intersection(set2)

print("Intersection:", intersection_set)

Intersection: {3, 4, 5}

In [29]:
# Difference of sets (elements in set1 but not in set2)
difference_set = set1 - set2  # or set1.difference(set2)

print("Difference (set1 - set2):", difference_set)

Difference (set1 - set2): {1, 2}

In [30]:
#add element
set1.add(10)
print(set1)

#remove element
set2.remove(6)
print(set2)

#discard-> if element is not present it will not give error
set1.discard(20)
print(set1)

{1, 2, 3, 4, 5, 10}
{3, 4, 5, 7}
{1, 2, 3, 4, 5, 10}

If-else statement

In [31]:
# Get user input for age
age = int(input("Enter your age: "))

# Check if the user is eligible to vote
if age >= 18:
  print("You are eligible to vote.")
else:
  print("You are not eligible to vote yet.")

Enter your age: 32
You are eligible to vote.

In [32]:
#Nested if else statement
# Get user input for score
score = int(input("Enter your exam score: "))

# Determine the grade based on the score
if score >= 90:
  grade = "A"
else:
  if score >= 80:
    grade = "B"
  else:
    if score >= 70:
      grade = "C"
    else:
      grade = "D"

print("Your grade is:", grade)

Enter your exam score: 81
Your grade is: B

**for loop**

In [ ]:
# Iterating over a list
my_list = [1, 2, 3, 4, 5]
for item in my_list:
  print(item)

# Iterating over a tuple
my_tuple = (10, 20, 30, 40, 50)
for item in my_tuple:
  print(item)

# Iterating over a dictionary (keys)
my_dict = {'a': 1, 'b': 2, 'c': 3}
for key in my_dict:
  print(key)

# Iterating over a dictionary (values)
for value in my_dict.values():
  print(value)

# Iterating over a dictionary (key-value pairs)
for key, value in my_dict.items():
  print(key, value)

**While loop**

In [33]:
# Print numbers from 1 to 10
count = 1
while count <= 10:
  print(count)
  count += 1

1
2
3
4
5
6
7
8
9
10

**Break and Continue statements**

In [34]:
# Print numbers from 1 to 10, but skip 5 and stop at 8
for i in range(1, 11):
  if i == 5:
    continue  # Skip to the next iteration
  if i == 8:
    break  # Exit the loop
  print(i)

1
2
3
4
6
7

break statement: Immediately terminates the loop and exits.

continue statement: Skips the current iteration and proceeds to the next.

# Problem Solving Tasks

**Write a Python program to find the largest number in a list.**

In [36]:
#Creating list
a=[45,87,63,12,49,25,85,37,91,46,28,34]
max(a)

91

**Write a Python program to count the frequency of elements in a list.**

In [40]:
a.count(12)

1


**Create a dictionary that stores student names as keys and marks as values, then find the student with the highest marks.**

In [41]:
student_marks = { "Alice": 85, "Bob": 92, "Charlie": 78, "David": 95, "Eve": 88 }

top_student = max(student_marks, key=student_marks.get)

print("Student with the highest marks:", top_student)

Student with the highest marks: David

In [43]:
max(student_marks,key=student_marks.get)

'David'

** Implement a while loop to print the Fibonacci series up to a given number.**

In [45]:
limit = 100  # Set the upper limit
a = 0
b = 1  # Initialize the first two Fibonacci numbers

while a <= limit:
  print(a, end=" ")  # Print the current Fibonacci number
  a, b = b, a + b  # Update a and b for the next Fibonacci number

0 1 1 2 3 5 8 13 21 34 55 89

**Use a set to remove duplicate elements from a list.**

In [46]:
my_list = [1, 2, 3, 2, 1, 4, 3, 2, 1, 5, 2]

# Remove duplicates using a set
unique_list = list(set(my_list))

print("List with duplicates removed:", unique_list)

List with duplicates removed: [1, 2, 3, 4, 5]